<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>改变地图中心</title>
    <style type="text/css">
        * {
            margin: 0px;
            padding: 0px;
        }

        body, button, input, select, textarea {
            font: 12px/16px Verdana, Helvetica, Arial, sans-serif;
        }

        p {
            width: 603px;
            padding-top: 3px;
            overflow: hidden;
        }

        .btn {
            width: 142px;
        }


    </style>
    <script charset="utf-8" src="https://map.qq.com/api/js?v=2.exp&key=OB4BZ-D4W3U-B7VVO-4PJWW-6TKDJ-WPB77"></script>
    <script>
        var map
        var lng = 116.397128;
        var lat = 39.916527;
        var zoom = 13;
        var init = function () {
            initWindow();
            map = new qq.maps.Map(document.getElementById("container"), {
                center: new qq.maps.LatLng(lat, lng),
                zoom: zoom
            });
            var d = document.createElement('div');
            d.id = "initEnd";
            document.body.appendChild(d);
        }

        function initWindow() {
            document.getElementById("container").style.width = window.screen.width + "px";
            document.getElementById("container").style.height = window.screen.height + "px";
        }
    </script>
</head>
<body onload="init()">
<div id="container"></div>
</body>
</html>
